<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-2 p-2">
    <h1 class="mb-0">Proyectos</h1>
    <div class="d-flex">
      <!-- Botón para generar PDF -->
      <button
        class="btn btn-success me-2 d-flex align-items-center"
        (click)="generarPDF()"
        *ngIf="proyectos && proyectos.length > 0"
      >
        <i class="bi bi-file-earmark-pdf me-2"></i> Generar PDF
      </button>
      <!-- Botón para crear departamentos -->
      <button
        type="button"
        class="btn btn-primary d-flex align-items-center"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <i class="bi bi-plus-circle me-2"></i> Nuevo Proyecto
      </button>
    </div>
  </div>
</div>

<div class="d-flex align-items-center justify-content-end mb-2">
  <!-- Ordenamiento -->
  <div class="d-flex align-items-center">
    <i class="bi bi-arrow-down-up me-2"></i>
    <select
      id="ordenamiento"
      class="form-select form-select-sm bg-transparent border-secondary"
      [(ngModel)]="criterioOrdenamiento"
      (click)="onFiltrar()"
    >
      <option value="nombreAsc" selected>Alfabetico Ascendente</option>
      <option value="nombreDesc">Alfabetico Descendente</option>
    </select>
  </div>
</div>

<!--Muestra Proyectos-->
<div class="row gy-4">
  <div
    *ngIf="proyectos && proyectos.length === 0"
    class="alert alert-warning text-center"
  >
    <p>
      Si elimina el departamento, se eliminaran a los responsables y tareas
      asociadas al departamento.
    </p>
    <h2>No hay proyectos que mostrar</h2>
  </div>

  <div
    class="col-md-4"
    *ngFor="
      let proyecto of proyectos
        | paginate : { itemsPerPage: 9, currentPage: page }
    "
  >
    <div class="card h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">
          {{ proyecto.nombre }}
        </h5>
        <p class="card-text">Descripcion: {{ proyecto.descripcion }}</p>

        <div class="mt-auto d-flex justify-content-between">
          <button
            class="btn btn-primary"
            (click)="editar(proyecto)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Editar
          </button>
          <button
            class="btn btn-danger"
            (click)="seleccionarProyecto(proyecto)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<div *ngIf="proyectos && proyectos.length !== 0">
  <div class="d-flex justify-content-center mt-3">
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      [maxSize]="5"
      class="pagination-custom"
    ></pagination-controls>
  </div>
</div>

<!-- Modal para la confirmación de eliminación -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Eliminar Proyecto</h5>
      </div>
      <div class="modal-body">
        <p>
          ¿Seguro que deseas eliminar el Proyecto:
          {{ proyectoSeleccionado?.nombre }}?
        </p>
        <p>
          Si elimina el proyecto, se eliminaran las tareas asociadas al
          proyecto.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="eliminar(proyectoSeleccionado)"
          data-bs-dismiss="modal"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!--Muestra modal para crear proyecto-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Crear o modificar Proyecto.
        </h5>
        <button
          type="button"
          class="btn-close m-2"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cerrar()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="proyectoForm" class="needs-validation was-validate">
          <!-- Nombre -->
          <div class="form-group flex-nowrap">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              id="nombre"
              formControlName="nombre"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  nombre.invalid && (nombre.dirty || nombre.touched),
                'is-valid': nombre.valid && (nombre.dirty || nombre.touched)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
            >
              <span *ngIf="nombre.errors?.['required']">
                El nombre es obligatorio.
              </span>
              <span *ngIf="nombre.errors?.['pattern']">
                El nombre debe tener al menos 3 letras.
              </span>
            </div>
          </div>
          <!-- Nombre -->
          <div class="form-group flex-nowrap">
            <label for="descripcion">Descripcion</label>
            <input
              type="text"
              id="descripcion"
              formControlName="descripcion"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  descripcion.invalid &&
                  (descripcion.dirty || descripcion.touched),
                'is-valid':
                  descripcion.valid &&
                  (descripcion.dirty || descripcion.touched)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                descripcion.invalid &&
                (descripcion.dirty || descripcion.touched)
              "
            >
              <span *ngIf="descripcion.errors?.['required']">
                La descripcion es obligatoria.
              </span>
              <span *ngIf="descripcion.errors?.['pattern']">
                La descripcion debe tener al menos 5 letras.
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="cerrar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="proyectoForm.invalid"
          (click)="guardar()"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!--Muestra notificacion segun si agregamos o eliminamos proyectos-->
<div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 11"
  aria-live="polite"
  aria-atomic="true"
>
  <div
    id="taskToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-delay="3000"
  >
    <div class="toast-header">
      <strong class="me-auto">Gestor.</strong>
      <button
        type="button"
        class="btn-close m-4"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>
