<div class="container mt-1">
  <div class="d-flex justify-content-between align-items-center mb-2 p-2">
    <h1>Tareas</h1>

    <!-- Boton para crear tareas-->
    <button
      type="button"
      class="btn btn-primary ms-auto p-2 rounded-pill shadow-sm"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Nueva Tarea
    </button>
  </div>
  <!--Muestra boton para agregar tarea-->

  <div class="d-flex align-items-center justify-content-between mb-2">
    <!-- Offcanvas para filtrar -->
    <button
      class="btn btn-outline-none bg-transparent d-flex align-items-center"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasFilters"
      aria-controls="offcanvasFilters"
    >
      <i class="bi bi-funnel me-2"></i>Filtrar
    </button>

    <!-- Ordenamiento -->
    <div class="d-flex align-items-center">
      <i class="bi bi-arrow-down-up me-2"></i>
      <select
        id="ordenamiento"
        class="form-select form-select-sm bg-transparent border-secondary"
        [(ngModel)]="criterioOrdenamiento"
        (click)="onFiltrar()"
      >
        <option value="fechaCierre" selected>
          Fecha de Cierre (más cercana)
        </option>
        <option value="prioridad">Prioridad</option>
        <option value="responsable">Responsable</option>
        <option value="estado">Estado</option>
        <option value="proyecto">Proyecto</option>
      </select>
    </div>
  </div>

  <!--Muestra tareas-->
  <div class="row gy-4">
    <div
      *ngIf="tareas && tareas.length === 0"
      class="alert alert-warning text-center"
    >
      <h2>No hay tareas que mostrar</h2>
    </div>

    <div
      class="col-md-4"
      *ngFor="
        let tarea of tareas | paginate : { itemsPerPage: 6, currentPage: page }
      "
    >
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ tarea.nombre }}</h5>
          <p class="card-text">Prioridad: {{ tarea.prioridad.nombre }}</p>
          <p class="card-text">Estado: {{ tarea.estado.nombre }}</p>
          <p class="card-text">Responsable: {{ tarea.responsable.nombre }}</p>
          <p class="card-text">
            Fecha de registro: {{ tarea.fechaRegistro | date }}
          </p>
          <p class="card-text">
            Fecha de cierre: {{ tarea.fechaCierre | date }}
          </p>
          <p class="card-text">Proyecto: {{ tarea.proyecto.nombre }}</p>

          <div class="mt-auto d-flex justify-content-between">
            <button
              class="btn btn-primary"
              (click)="editar(tarea)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Editar
            </button>
            <button
              class="btn btn-danger"
              (click)="seleccionarTarea(tarea)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Muestra tareas-->

  <!-- Paginación -->
  <div *ngIf="tareas && tareas.length !== 0">
    <div class="d-flex justify-content-center mt-3">
      <pagination-controls
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [maxSize]="5"
        class="pagination-custom"
      ></pagination-controls>
    </div>
  </div>

  <!-- Boton para generar PDF -->
  <button
    class="btn btn-success ms-auto d-flex align-items-center mb-2 p-3"
    (click)="generarPDF()"
    *ngIf="tareas && tareas.length > 0"
  >
    <i class="bi bi-file-earmark-pdf me-2"></i> Generar PDF
  </button>

  <!-- Modal para la confirmación de eliminación -->
  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel2"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Eliminar tarea</h5>
        </div>
        <div class="modal-body">
          Seguro que deseas eliminar la tarea: {{ tareaSeleccionada?.nombre }}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="eliminar(tareaSeleccionada)"
            data-bs-dismiss="modal"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Muestra modal para crear tarea-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Crear o modificar tarea.
        </h5>
        <button
          type="button"
          class="btn-close m-2"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cerrar()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="tareaForm" class="needs-validation was-validate">
          <!-- Nombre -->
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              id="nombre"
              formControlName="nombre"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  nombre.invalid && (nombre.dirty || nombre.touched),
                'is-valid': nombre.valid && (nombre.dirty || nombre.touched)
              }"
            />
          </div>
          <!-- Prioridad -->
          <div class="form-group">
            <label for="prioridad">Prioridad</label>
            <select
              name="prioridad"
              id="prioridad"
              formControlName="prioridad"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of prioridades">
                {{ item.nombre }}
              </option>
            </select>
          </div>
          <!-- Responsable -->
          <div class="form-group">
            <label for="responsable">Responsable</label>
            <select
              name="responsable"
              id="responsable"
              formControlName="responsable"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of responsables">
                {{ item.nombre }}
              </option>
            </select>
          </div>
          <!-- Estado -->
          <div class="form-group">
            <label for="estado">Estado</label>
            <select
              name="estado"
              id="estado"
              formControlName="estado"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of estados">
                {{ item.nombre }}
              </option>
            </select>
          </div>
          <!-- Fecha Cierre -->
          <div class="form-group">
            <label for="fechaCierre">Fecha de Cierre</label>
            <input
              type="date"
              id="fechaCierre"
              formControlName="fechaCierre"
              class="form-control"
            />
          </div>
          <!-- Proyecto -->
          <div class="form-group">
            <label for="proyecto">Proyecto</label>
            <select
              name="proyecto"
              id="proyecto"
              formControlName="proyecto"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of proyectos">
                {{ item.nombre }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="cerrar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="tareaForm.invalid"
          (click)="guardar()"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!--Muestra notificacion segun si agregamos o eliminamos tareas-->
<div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 11"
  aria-live="polite"
  aria-atomic="true"
>
  <div
    id="taskToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-delay="3000"
  >
    <div class="toast-header">
      <strong class="me-auto">Gestor.</strong>
      <button
        type="button"
        class="btn-close m-4"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>

<!-- Offcanvas -->
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasFilters"
  aria-labelledby="offcanvasFiltersLabel"
>
  <div class="offcanvas-header">
    <h5 id="offcanvasFiltersLabel" class="fw-bold">Filtrar por</h5>
    <button
      type="button"
      class="btn-close m-2"
      data-bs-dismiss="offcanvas"
      aria-label="Cerrar"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="filtroForm" class="d-grid gap-3">
      <!-- Responsable -->
      <div class="filter-group position-relative">
        <label for="responsable" class="form-label d-flex align-items-center">
          <i class="bi bi-person-circle me-2"></i> Responsable:
        </label>
        <div class="d-flex align-items-center">
          <select
            class="form-select flex-grow-1"
            formControlName="responsable"
            id="responsable"
            (click)="onFiltrar()"
          >
            <option value="" selected disabled>
              Selecciona un responsable
            </option>
            <option *ngFor="let item of responsables" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
          <button
            type="button"
            class="btn-close ms-2"
            aria-label="Borrar"
            (click)="clearFilter('responsable'); onFiltrar()"
          ></button>
        </div>
      </div>

      <!-- Prioridad -->
      <div class="filter-group position-relative">
        <label for="prioridad" class="form-label d-flex align-items-center">
          <i class="bi bi-flag-fill me-2"></i> Prioridad:
        </label>
        <div class="d-flex align-items-center">
          <select
            class="form-select flex-grow-1"
            formControlName="prioridad"
            id="prioridad"
            (click)="onFiltrar()"
          >
            <option value="" disabled selected>Selecciona una prioridad</option>
            <option *ngFor="let item of prioridades" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
          <button
            type="button"
            class="btn-close ms-2"
            aria-label="Borrar"
            (click)="clearFilter('prioridad'); onFiltrar()"
          ></button>
        </div>
      </div>

      <!-- Estado -->
      <div class="filter-group position-relative">
        <label for="estado" class="form-label d-flex align-items-center">
          <i class="bi bi-check-circle-fill me-2"></i> Estado:
        </label>
        <div class="d-flex align-items-center">
          <select
            class="form-select flex-grow-1"
            formControlName="estado"
            id="estado"
            (click)="onFiltrar()"
          >
            <option value="" disabled selected>Selecciona un estado</option>
            <option *ngFor="let item of estados" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
          <button
            type="button"
            class="btn-close ms-2"
            aria-label="Borrar"
            (click)="clearFilter('estado'); onFiltrar()"
          ></button>
        </div>
      </div>

      <!-- Proyecto -->
      <div class="filter-group position-relative">
        <label for="proyecto" class="form-label d-flex align-items-center">
          <i class="bi bi-folder-fill me-2"></i> Proyecto:
        </label>
        <div class="d-flex align-items-center">
          <select
            class="form-select flex-grow-1"
            formControlName="proyecto"
            id="proyecto"
            (click)="onFiltrar()"
          >
            <option value="" disabled selected>Selecciona un proyecto</option>
            <option *ngFor="let item of proyectos" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
          <button
            type="button"
            class="btn-close ms-2"
            aria-label="Borrar"
            (click)="clearFilter('proyecto'); onFiltrar()"
          ></button>
        </div>
      </div>

      <!-- Fecha de Cierre -->
      <div class="filter-group position-relative">
        <label for="fechaCierre" class="form-label d-flex align-items-center">
          <i class="bi bi-calendar-check me-2"></i> Fecha de Cierre:
        </label>
        <div class="d-flex align-items-center">
          <input
            type="date"
            class="form-control flex-grow-1"
            formControlName="fechaCierre"
            id="fechaCierre"
            (click)="onFiltrar()"
          />
          <button
            type="button"
            class="btn-close ms-2"
            aria-label="Borrar"
            (click)="clearFilter('fechaCierre'); onFiltrar()"
          ></button>
        </div>
      </div>

      <!-- Fecha de Registro -->
      <div class="filter-group position-relative">
        <label for="fechaRegistro" class="form-label d-flex align-items-center">
          <i class="bi bi-calendar-plus me-2"></i> Fecha de Registro:
        </label>
        <div class="d-flex align-items-center">
          <input
            type="date"
            class="form-control flex-grow-1"
            formControlName="fechaRegistro"
            id="fechaRegistro"
            (click)="onFiltrar()"
          />
          <button
            type="button"
            class="btn-close ms-2"
            aria-label="Borrar"
            (click)="clearFilter('fechaRegistro'); onFiltrar()"
          ></button>
        </div>
      </div>

      <!-- Borrar Filtros -->
      <div class="text-center mt-3">
        <button
          type="button"
          class="btn btn-outline-danger w-100"
          (click)="borrarFiltros()"
        >
          Borrar filtros
        </button>
      </div>
    </form>
  </div>
</div>
