<div class="container mt-4">
  <!--Muestra boton para agregar tarea-->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="p-2">Gestión de Tareas</h3>

    <!-- Boton para crear tareas-->
    <button
      type="button"
      class="btn btn-primary ms-auto p-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Nueva Tarea
    </button>
  </div>
  <!--Muestra boton para agregar tarea-->

  <!-- Muestra filtros y ordenamiento -->
  <div>
    <label for="ordenamiento">Ordenar por:</label>
    <select
      id="ordenamiento"
      [(ngModel)]="criterioOrdenamiento"
      (click)="onFiltrar()"
    >
      <option value="fechaCierre" selected>
        Fecha de Cierre (más cercana)
      </option>
      <option value="prioridad">Prioridad</option>
      <option value="responsable">Responsable</option>
      <option value="estado">Estado</option>
      <option value="proyecto">Proyecto</option>
    </select>
  </div>

  <form [formGroup]="filtroForm">
    <div class="dropdown p-2">
      <a
        class="btn btn-secondary dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-funnel-fill"></i>
      </a>

      <ul class="dropdown-menu">
        <div class="filtro-container">
          <li class="filtro-item position-relative">
            <label for="responsable" class="form-label">
              <i class="bi bi-person-circle"></i> Responsable:
            </label>
            <select
              class="form-select"
              formControlName="responsable"
              id="responsable"
              (click)="onFiltrar()"
            >
              <option value="" selected>Selecciona un responsable</option>
              <option *ngFor="let item of responsables" [value]="item.id">
                {{ item.nombre }}
              </option>
            </select>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="
                clearFilter('responsable');
                $event.stopPropagation();
                onFiltrar()
              "
            ></button>
          </li>

          <li class="filtro-item position-relative">
            <label for="prioridad" class="form-label">
              <i class="bi bi-flag-fill"></i> Prioridad:
            </label>
            <select
              class="form-select"
              formControlName="prioridad"
              id="prioridad"
              (click)="onFiltrar()"
            >
              <option value="" disabled selected>
                Selecciona una prioridad
              </option>
              <option *ngFor="let item of prioridades" [value]="item.id">
                {{ item.nombre }}
              </option>
            </select>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="
                clearFilter('prioridad'); $event.stopPropagation(); onFiltrar()
              "
            ></button>
          </li>

          <li class="filtro-item position-relative">
            <label for="estado" class="form-label">
              <i class="bi bi-check-circle-fill"></i> Estado:
            </label>
            <select
              class="form-select"
              formControlName="estado"
              id="estado"
              (click)="onFiltrar()"
            >
              <option value="" disabled selected>Selecciona un estado</option>
              <option *ngFor="let item of estados" [value]="item.id">
                {{ item.nombre }}
              </option>
            </select>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="
                clearFilter('estado'); $event.stopPropagation(); onFiltrar()
              "
            ></button>
          </li>

          <li class="filtro-item position-relative">
            <label for="proyecto" class="form-label">
              <i class="bi bi-folder-fill"></i> Proyecto:
            </label>
            <select
              class="form-select"
              formControlName="proyecto"
              id="proyecto"
              (click)="onFiltrar()"
            >
              <option value="" disabled selected>Selecciona un proyecto</option>
              <option *ngFor="let item of proyectos" [value]="item.id">
                {{ item.nombre }}
              </option>
            </select>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="
                clearFilter('proyecto'); $event.stopPropagation(); onFiltrar()
              "
            ></button>
          </li>

          <li class="filtro-item position-relative">
            <label for="fechaCierre" class="form-label">
              <i class="bi bi-calendar-check"></i> Fecha de Cierre:
            </label>
            <input
              type="date"
              class="form-control"
              formControlName="fechaCierre"
              id="fechaCierre"
              (click)="onFiltrar()"
            />
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="
                clearFilter('fechaCierre');
                $event.stopPropagation();
                onFiltrar()
              "
            ></button>
          </li>

          <li class="filtro-item position-relative">
            <label for="fechaRegistro" class="form-label">
              <i class="bi bi-calendar-plus"></i> Fecha de Registro:
            </label>
            <input
              type="date"
              class="form-control"
              formControlName="fechaRegistro"
              id="fechaRegistro"
              (click)="onFiltrar()"
            />
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="
                clearFilter('fechaRegistro');
                $event.stopPropagation();
                onFiltrar()
              "
            ></button>
          </li>

          <li class="d-flex mt-3">
            <button class="btn btn-outline-danger" (click)="borrarFiltros()">
              Borrar filtros
            </button>
          </li>
        </div>
      </ul>
    </div>
  </form>

  <!--Muestra tareas-->
  <div class="row gy-4">
    <div class="col-md-4" *ngFor="let tarea of tareas">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ tarea.nombre }}</h5>
          <p class="card-text">Prioridad: {{ tarea.prioridad.nombre }}</p>
          <p class="card-text">Estado: {{ tarea.estado.nombre }}</p>
          <p class="card-text">Responsable: {{ tarea.responsable.nombre }}</p>
          <p class="card-text">
            Fecha de registro: {{ tarea.fechaRegistro | date }}
          </p>
          <p class="card-text">
            Fecha de cierre: {{ tarea.fechaCierre | date }}
          </p>
          <p class="card-text">Proyecto: {{ tarea.proyecto.nombre }}</p>

          <div class="mt-auto d-flex justify-content-between">
            <button
              class="btn btn-primary"
              (click)="editar(tarea)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Editar
            </button>
            <button
              class="btn btn-danger"
              (click)="seleccionarTarea(tarea)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Muestra tareas-->

  <!-- Modal para la confirmación de eliminación fuera del *ngFor -->
  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel2"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Eliminar tarea</h5>
        </div>
        <div class="modal-body">
          Seguro que deseas eliminar la tarea: {{ tareaSeleccionada?.nombre }}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="eliminar(tareaSeleccionada)"
            data-bs-dismiss="modal"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Muestra modal para crear tarea-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear nueva tarea.</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="tareaForm">
          <!-- Nombre -->
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              id="nombre"
              formControlName="nombre"
              class="form-control"
            />
          </div>
          <!-- Prioridad -->
          <div class="form-group">
            <label for="prioridad">Prioridad</label>
            <select
              name="prioridad"
              id="prioridad"
              formControlName="prioridad"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of prioridades">
                {{ item.nombre }}
              </option>
            </select>
          </div>
          <!-- Responsable -->
          <div class="form-group">
            <label for="responsable">Responsable</label>
            <select
              name="responsable"
              id="responsable"
              formControlName="responsable"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of responsables">
                {{ item.nombre }}
              </option>
            </select>
          </div>
          <!-- Estado -->
          <div class="form-group">
            <label for="estado">Estado</label>
            <select
              name="estado"
              id="estado"
              formControlName="estado"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of estados">
                {{ item.nombre }}
              </option>
            </select>
          </div>
          <!-- Fecha Cierre -->
          <div class="form-group">
            <label for="fechaCierre">Fecha de Cierre</label>
            <input
              type="date"
              id="fechaCierre"
              formControlName="fechaCierre"
              class="form-control"
            />
          </div>
          <!-- Proyecto -->
          <div class="form-group">
            <label for="proyecto">Proyecto</label>
            <select
              name="proyecto"
              id="proyecto"
              formControlName="proyecto"
              class="form-control"
            >
              <option [ngValue]="item" *ngFor="let item of proyectos">
                {{ item.nombre }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="cerrar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="tareaForm.invalid"
          (click)="guardar()"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<!--Muestra modal para crear tarea-->

<!--Muestra notificacion segun si agregamos o eliminamos tareas-->
<div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 11"
  aria-live="polite"
  aria-atomic="true"
>
  <div
    id="taskToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-delay="3000"
  >
    <div class="toast-header">
      <strong class="me-auto">Gestor.</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>
<!--Muestra notificacion segun si agregamos o eliminamos tareas-->

<!-- Boton para pdf -->

<button class="btn btn-primary" (click)="generarPDF()">Generar PDF</button>
